# Assignement (segmenting and clustering)

In [1]:
import pandas as pd

## Get dataframe from wikipedia

In [2]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
# import data as dataframe with pandas and select the first table (index 0)
df_toronto = pd.read_html(link)[0]
df_toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Clean dataframe

In [4]:
# rename postalcode column
df_toronto.rename(columns={'Postcode': 'PostalCode'}, inplace=True)

In [5]:
df_toronto.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [6]:
#drop cells with "not-assined" borough
df_toronto = df_toronto[df_toronto['Borough']!='Not assigned']
df_toronto.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

## Format dataframe

In [7]:
#combine rows with same postal code and borough
df_toronto_merged = df_toronto.groupby(['PostalCode', 'Borough'], sort=False)

#merge neighbourhood names in same row
df_toronto_merged = df_toronto_merged['Neighbourhood'].apply(','.join).reset_index()

In [8]:
df_toronto_merged.head()

  PostalCode           Borough                    Neighbourhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto                     Harbourfront
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A  Downtown Toronto                     Queen's Park

In [9]:
#check for not assigned neighbourhood
df_toronto_merged[df_toronto_merged.Neighbourhood == 'Not assigned']

  PostalCode       Borough Neighbourhood
5        M9A  Queen's Park  Not assigned

In [10]:
#get indexes for not assigned neighbourhood
i_not_assigned = df_toronto_merged[df_toronto_merged.Neighbourhood == 'Not assigned'].index

In [11]:
#assign name of borough to not assigned neighbourhood
df_toronto_merged.loc[i_not_assigned, 'Neighbourhood'] = df_toronto_merged['Borough']

In [12]:
#checking all neighbourhood are assigned
df_toronto_merged[df_toronto_merged.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [13]:
df_toronto_merged.shape

(103, 3)